body {
    background-color: black;
    padding: 0;
    margin: 0;
      
}

.textoVentana{
font-size: small;
}

.formaEnvio{
    width: 700px;
    
}

li{
    font-size: small;
}

.window-body{
    font-size: medium;
}



  @media (max-width: 1050px){
    .ventana{
        display: flex;
    justify-content: center;
    align-items: center;
    height: 40vh;
    flex-direction: column;
    }

  }
    